body {
  background-color: #baf953;
  background-color: #e3ff96;
  padding-top: 1rem;
}

.navbar-dark {
  background-color: #169209;
}

.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  color: #fafeeb;
  font-size: 20px;
}

.btn-warning {
  border: 1px solid #354802;
  border: 1px solid #a7f843;
}
.map-container {
  margin-bottom: 2rem;
  padding: 3.5rem 0 0 0;
  border-radius: .3rem;
  max-width: 100%;
}
.map-0margin {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
#mapid {
  height: 300px;
  position: initial;
  margin: 0;
}
display-3 {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}