body {
  /*background-color: #baf953;*/
  /*background-color: #e3ff96;*/
  background-color: #fff;
  padding-top: 1rem;
}

.navbar-dark {
  /*background-color: #169209;*/
  background-color: #0e7404;
}

.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  color: #fafeeb;
  font-size: 20px;
  margin-right: 3rem;
  margin-left: 3rem;
}

.active {
  color: white;
  font-weight: bold;
}

.nav-link {
  color: #fcfaec;
}

.btn-warning {
  /*border: 1px solid #354802;*/
  border: 1px solid #f9cf6a;
}

.map-container {
  margin-bottom: 2rem;
  padding: 3.5rem 0 0 0;
  border-radius: .3rem;
  max-width: 100%;
}

.map-0margin {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#mapid {
  height: 300px;
  position: initial;
  margin: 0;
}

display-3 {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.first-container {
  margin-bottom: 2rem;
  padding: 3.5rem 0 0 0;
  border-radius: .3rem;
}

.add-tick {
  text-align: center;
}

.radio-label {
  margin: 8px 0 2px 0;
  font-weight: bold;
  font-size: 16px;
}