<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Karolina Krassowska">
    <link href="../static/images/tick-black-200.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!-- My CSS -->
    <link rel="stylesheet" href="static/css/css.css" type="text/css">


    <title>Tick a tick!</title>

    <style>
      $custom-file-text: (
        en: "Browse",
        pl: "Wyszukaj"
      );
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-sm fixed-top navbar-dark justify-content-between">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="../static/images/tick-white-200.png" width="30" height="30" alt="small black tick">
         TickIt!
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tick_statistics') }}">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('knowledge') }}">Knowledge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('contact') }}">Contact<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <a href="{{ url_for('add_tick') }}" class="btn btn-warning my-2 my-sm-0" >Add tick</a>
      </div>
    </nav>


    <div class="container first-container contact-container">
      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label for="email">Your email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input class="form-control" type="text" value="Message subject" id="subject">
            </div>
            <div class="form-group">
              <label for="message">Your message</label>
              <textarea class="form-control" id="message" rows="5" placeholder="Enter your message"></textarea>
            </div>
            <div>{{ recaptcha }}</div>
            <div>{{ fail_message }}</div>
            <br/>
            <div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>

        <div class="col-md-6">
          <h6>Would you like to ask some questions or find out more about this project? We are more than happy to help you! :)</h6>
          <strong>email:</strong> tickit.zlapkleszcza@gmail.com
          <br>
          <strong>github repository:</strong> <a href="https://github.com/krassowska/TickIt">krassowska/TickIt</a>
        </div>
      </div>
    </div>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script>

    </script>
  </body>
</html>