<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tick it!</title>
  </head>
  <body>
    <div><a href="{{ url_for('index') }}">HOME PAGE</a></div>
    <div class="container">
      <div class="row">
        <div></div>
      </div>
    </div>

    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>

  </body>
</html>
