<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Karolina Krassowska">
    <link href="../static/images/tick-black-200.png" rel="icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Leaflet CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <!-- fullscreen map https://github.com/Leaflet/Leaflet.fullscreen -->
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <!-- My CSS -->
    <link rel="stylesheet" href="../static/css/css.css" type="text/css">


    <title>TickIt!</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark justify-content-between">
      <a class="navbar-brand" href="#">
        <img src="../static/images/tick-white-200.png" width="30" height="30" alt="small black tick">
         TickIt!
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tick_statistics') }}">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('knowledge') }}">Knowledge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact') }}" tabindex="-1" aria-disabled="true">Contact</a>
          </li>
        </ul>
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Add tick</button>
      </div>
    </nav>

    <div class="container container-fluid map-container">
      <div class="row map-0margin">
        <div class="col-lg-12 map-0margin">
          <div class='map-0margin' id="mapid"><a class="btn btn-primary btn-lg display-3" href="#" role="button">Add your tick!</a></div>
        </div>
      </div>
    </div>

    <div class="mx-auto px-4">
      <div class="row">
        <div class="col-md-4">
          <h2>Learn more about ticks!</h2>
          <p>Do you know where you can cach a tick or what are the firs signs of tick borne disease? If no you need to read this!</p>
          <p><a class="btn btn-success" href="knowledge" role="button">Learn more »</a></p>
        </div>
        <!--
        <div class="col-md-4">
          <h2>Do you know how ticks look like?</h2>
          <p>Check our tick gallery!</p>
          <p><a class="btn btn-primary" href="gallery" role="button">View details »</a></p>
        </div>
        -->
        <div class="col-md-4">
          <h2>Would you like hear what's new?</h2>
          <p>Sign up to our newsletter! We will send you our new articles about Ticks and Tick Borne Diseases (TBD)!</p>
          <p><a class="btn btn-success" href="" role="button">Subscribe</a></p>
        </div>
        <div class="col-md-4">
          <h2>Statistics</h2>
          <p>Check our statistics about ticks!</p>
          <p><a class="btn btn-success" href="statistics" role="button">View statistics »</a></p>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          Read last tweets about Ticks and Tick Borne Diseases (TBD).
          <h1>Twitter</h1>
          <h3>My timeline</h3>
          <form method="get" action="/news">
            <section>
              <input type="submit" value="Get home timeline" id="get-button" class="button">
              {% for tweet in tweets_from_timeline %}
              <ul>
                <li>{{ tweet.text }}</li>
              </ul>
              {% endfor %}
            </section>
          </form>
        </div>
      </div>
    </div>


    <div>You visited this website {{licznik}} times</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Leaflet JavaScript -->
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <!-- fullscreen map https://github.com/Leaflet/Leaflet.fullscreen -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script>


    </script>
  </body>
</html>
